@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    /* display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%; */
    display: flex;
}

body * {
    padding: .5rem;
    margin: 0;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
}

header img {
    width: 10rem;
    padding: .5rem;
}

nav {
    display: grid;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#contact {
    display: grid;
    padding: 0;
}

@media screen and (max-device-width: 480px) {
    header img {
        width: 5rem;
        padding: .5rem;
    }
}